.app {
  display: flex;
  height: 100%;
}

.left-side {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
}

.right-side {
  flex-shrink: 0;
  width: 320px;
  position: relative;
  border-left: 1px solid #ddd;
}

.right-side__inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  height: 100%;
  padding: 10px;
}

.create-btn-box {
  padding-top: 10px;
}
